:root {
  --primaryGradient: #007BFF;
  --secondaryGradient: #0044A0;
  --lastGradient: #00BFFF;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

body {
  background-color: rgb(10, 10, 10);
  display: grid;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  place-items: center;
  font-family: "Rubik", sans-serif;
}

.magicText {
  color: white;
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  text-indent: 0px;
  margin: 0px;
  padding: 20px;
  text-align: center;
  z-index: 3;
}

.magicText > .magic {
  display: inline-block;
  position: relative;
}

.magicText > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.magicText > .magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

.magicText > .magic > .magic-star > svg > path {
  fill: var(--secondaryGradient);
}

.magicText > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--primaryGradient),
    var(--secondaryGradient),
    var(--lastGradient),
    var(--primaryGradient)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.magicWrappingText {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  text-indent: 0px;
  margin: 0px;
  padding: 20px;
  text-align: center;
  z-index: 3;
}

.magicWrappingText > .magic {
  display: block; /* Use block display to ensure line breaks */
  position: relative;
}

.magicWrappingText > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.magicWrappingText > .magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

.magicWrappingText > .magic > .magic-star > svg > path {
  fill: var(--secondaryGradient);
}

.magicWrappingText > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
      to right,
      var(--primaryGradient),
      var(--secondaryGradient),
      var(--lastGradient),
      var(--primaryGradient)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: normal; /* Allow the text to wrap */
}

@media (max-width: 600px) {
  .magicWrappingText {
      padding: 10px; /* Reduce padding for smaller screens */
  }
}


.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 350ms, border-color 350ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link > i,
.meta-link > span {
  height: 20px;
  line-height: 20px;
}

.meta-link > span {
  color: white;
  font-family: "Rubik", sans-serif;
  transition: color 600ms;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.topnav-container {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
}

.topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3386FF;
  color: white;
}




.buy-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #3386FF;
  border-radius: 4px;
  background-color: transparent;
  color: #3386FF;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buy-button:hover {
  background-color: #3386FF;
  color: #fff;
}

.free-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #A0A0A0;
  border-radius: 4px;
  background-color: transparent;
  color: #A0A0A0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.free-button:hover {
  background-color: #A0A0A0;
  color: #fff;
}


.buyContainer {
  position: flex;
  display: flex;
  flex-direction:row;
}

.buyContainer>* {
  text-align: center;
  margin: 20px;
  width: 300px;
  height: 500px;
}

.discordDiv {
    display:flex;
    flex-direction: column;
}

.discordDiv>*:last-child {
    margin-top: 20px;
    align-self: flex-end;
}

#iframeDiscord {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.glass::-webkit-scrollbar {
    display: none;
}

.OMMClickGui {
  background-color: rgba(0,0,66,255);
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
}

.OMMClickGUITabsModuleContainer {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.OMMClickTitle {
  background-color: rgba(0,0,103,255);
  border-radius: 10px 10px 0px 0px;
  color: rgba(0,0,167,255);
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 30px;
}


.OMMClickTabs {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  margin: 0% 5%;
}

.OMMClickTabs > button {
  margin: 15px 0;
  border-radius: 4px;
  width: 120px;
  background: linear-gradient(to bottom, #00758B 0%, #00556F 22.222%, #002948 23.333%, #004261 68.33333%, #004261 100%);
  color: #00D1D4;
  outline: none;
  border: none;
  transition: background-color 0.1s, border-color 0.1s;
  border: 1px solid rgba(0, 0, 0, 255);
}

.OMMClickTabs > button:active {
  background-color: rgba(5, 21, 53, 255);
}
.OMMVRGUI {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.OMMVRModules {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}

.OMMVRGUI > .OMMVRModules > button {
  margin: 7px 0;
  background-color: #004EBF;
  color: white;
  outline: none;
  border: none;
  transition: background-color 0.3s; /* Transition for color change */
}



.OMMVRGUI > .OMMVRModules > .mod-clicked {
  background-color: #12DE1F;
}

.textbox-container {
  position: relative;
  display: inline-block;
}

.custom-textbox {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  transition: background 0.3s;
  outline: none;
  color: white;
}

.custom-textbox::placeholder {
  color: white;
  transition: color 0.3s;
}


.custom-textbox:focus::placeholder,
.custom-textbox:active::placeholder {
  color: transparent;
}

.login-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  padding-top: 10%;
  flex-direction: column;
}

.login-info-container > * {
  margin: 10px;
}

.login-info-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  padding-top: 10%;
  flex-direction: column;
}

.login-info-container-2 > * {
  margin: 5px;
}